version: '3.8'

services:
  # 1. RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"   # API 서버 접속용 포트
      - "15672:15672" # 관리자 페이지
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - teamA-network
    restart: always

  # 2. Celery Worker (비동기 작업 처리)
  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery
    command: celery -A config worker -l warning
    env_file:
      - .env.production
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - teamA-network
    restart: always

  # 3. Celery Beat (스케줄러)
  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery-beat
    command: celery -A config beat -l warning --scheduler django_celery_beat.schedulers:DatabaseScheduler #크롤링을 위해 수정
    env_file:
      - .env.production
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
    depends_on:
      - celery
    networks:
      - teamA-network
    restart: always

networks:
  teamA-network:
    driver: bridge