services:
  # 1. Django Backend
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    env_file: .env.production
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
    ports:
      - "8000:8000" # 외부에서 /metrics 접속 확인용
    volumes:
      - .:/app
    networks:
      - teamA-network
    restart: always

  # 2. Nginx
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./letsencrypt:/etc/letsencrypt
    depends_on:
      - backend
    networks:
      - teamA-network
    restart: always

  # 3. Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090" # Prometheus UI 접속용
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - teamA-network
    restart: always

  # 4. Loki (로그 저장소)
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/loki
      # - ./monitoring/loki-config.yml:/etc/loki/local-config.yaml:ro
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - teamA-network
    restart: always

  # 5. Grafana (시각화)
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_SERVER_DOMAIN=${API_SERVER_IP}
      - GF_SERVER_ROOT_URL=http://${API_SERVER_IP}:3000
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus
      - loki
    networks:
      - teamA-network
    restart: always

  # 6. Alloy (로그 수집기)
  alloy:
    image: grafana/alloy:latest
    container_name: alloy-api
    ports:
      - "12345:12345" # Alloy 상태 확인 UI
    volumes:
      - ./monitoring/config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
    command: run --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    networks:
      - teamA-network
    restart: always

  # 7. cAdvisor (컨테이너 모니터링)
  cadvisor:
      image: gcr.io/cadvisor/cadvisor:v0.56.2
      container_name: cadvisor-api
      privileged: true
      ports:
        - "8080:8080"
      volumes:
        - /:/rootfs:ro
        - /var/run:/var/run:ro # /var/run 전체를 읽기 전용으로
        - /var/run/docker.sock:/var/run/docker.sock:ro # [추가] 도커 소켓 직접 연결
        - /sys:/sys:ro
        - /var/lib/docker/:/var/lib/docker:ro
        - /dev/disk/:/dev/disk:ro # [추가] 디스크 장치 정보 연결
      # [추가] 특정 환경에서 도커 컨테이너만 수집하도록 강제
      command:
        - '--docker_only=true'
        - '--housekeeping_interval=10s'
        - '--store_container_labels=false'
        - '--whitelisted_container_labels=com.docker.compose.project,com.docker.compose.service'
      networks:
        - teamA-network
      restart: always

networks:
  teamA-network:
    driver: bridge

volumes:
  grafana-data:
    driver: local
  loki-data:
    driver: local
  prometheus-data:
    driver: local