global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'django'
    static_configs:
      - targets: ['backend:8000']
    relabel_configs:
      - source_labels: [name]
        regex: "/(.*)"
        target_label: container_name

  - job_name: 'cadvisor-api'
    static_configs:
      - targets: ['cadvisor-api:8080']
    relabel_configs:
      - source_labels: [name]
        regex: "/(.*)"
        target_label: container_name

  - job_name: 'cadvisor-worker'
    static_configs:
      - targets: ['172.31.51.114:8081']
    relabel_configs:
      - source_labels: [name]
        regex: "/(.*)"
        target_label: container_name

  # celery-exporter는 ARM64 호환 이슈로 비활성화
  # - job_name: 'celery-exporter'
  #   static_configs:
  #     - targets: ['${WORKER_SERVER_IP}:9808']