global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'django'
    static_configs:
      - targets: ['backend:8000']

  - job_name: 'cadvisor-api'
    static_configs:
      - targets: ['cadvisor-api:8080']

  - job_name: 'cadvisor-worker'
    static_configs:
      - targets: ['${WORKER_SERVER_IP}:8081']

  - job_name: 'celery-exporter'
    static_configs:
      - targets: ['${WORKER_SERVER_IP}:9808']